.app.dark {
	--background-color: #1f1f1f;
	--inverse-background-color: #f9f9f9;

	--primary-color: #ffffff;
	--inverse-primary-color: #1f1f1f;
	--text-color: #ffffff;
	--text-color-secondary: #e0c2c2;
}
